*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

h1{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-left: 20vw;*/
}
h2{
    color: rgb(255, 255, 255);
}
h3{
    color: rgb(255, 255, 255);
}

header{
    color: rgb(255, 255, 255);
    width: 100vw;
    height: 10vh;
    background: #4069FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
#logo{
    margin-left: 30px;
    width: 70px;
    height: 70px;
}
.list{
    display: flex;
    justify-items: baseline;
}
li{
    margin-right: 10px;
    list-style-type:none;
}
#icons{
    display: flex;
    flex-direction: row;
    /* align-content: flex-start; */
    margin-left: 5px;
    justify-content: space-around;
    align-items: center;
}
section{
    background: #000;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.list-discussion{
    background:#5379FF;
    width: 30vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
#search{
    width: 25vw;
    height: 30px;
    position: relative;
    left: 5px;
    border: solid 2px blue;
    border-radius: 20px;
}
.contacts{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 5px 0 5px;
}
#profile{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: 8px;
}
#chat{
    margin: 2px 5px 5px 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: solid 1px white;
    border-radius: 20px;
    width: 30vw;
}
.chat-placeholder{
    background: white;
    background-position:bottom;
    width: 70vw;
    position: relative;
}
.contact-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 70vw;
    height: 10vh;
    background: #5379FFC7;
    border-radius: 30px;
}
.Contact-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
}
.messages{
    /* display:table-column;
    margin: 80px 10px 10px 2px; */
    position: absolute;
    top: 10vh;
    height: 70vh;
    width: 70vw;
    
    overflow-x: unset;
    overflow-y: scroll;
}
#msg-received{
    max-width: 40vw;
    /* position: absolute;
    left: 0; */
    overflow-wrap: break-word;
    padding: 5px;
    margin-bottom: 5px;
    background-color:#7fffd4c9;
    border: 1px solid seashell;
    border-radius: 20px 20px 20px 0;
}
#msg-sent{
    margin-bottom: 5px;
    max-width: 40vw;
    overflow-wrap: break-word;
    margin-left: 45vw;
    margin-top: 2px;
    padding: 5px;
    background-color:  rgb(5 166 255);
    border: 1px solid rgb(4, 245, 181);
    border-radius: 20px 20px 0 20px;
}
#hour{
    font-size: small;
    color: white;
    text-align: end;
}
::-webkit-input-placeholder{
    font-style: italic;
    padding-left: 10px;
    font-size: medium;

}
#msg{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    padding-left: 10px;
    padding-top: 8px;
    width: 70vw;
    height: 40px;
    position: relative;
    left: 5px;
    border: solid 2px blue;
    border-radius: 20px;
}
#msg:hover{
    border: solid 2px rgb(43, 255, 0);
    animation: ease-out;
    animation-delay:1s;
}
#icon{
    margin-right:10px;
    width: 40px;
    height: 30px;
}
button {
    
    border:none;
    cursor: pointer;
    /* width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 20px;
    background: rgb(4, 255, 0); */
} 
.write-message{
    position: absolute;
    bottom: 0;
    width: 70vw;
    background: #EAEAEA;
    display: flex;
    justify-content: space-around;
    height: 50px;
    border-radius: 20px;
    align-items: center;
}
footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}